
table {
    border-collapse:separate;
    border: 2px;
    border-radius:10px;
	box-shadow:0 0 10px #000000;
	font-size: 1.2em;
	font-family: 'Times New Roman';
    -moz-border-radius:10px;
}

td{
	border-radius: 1px;
	border:0.6px;
 

}

th {
    background-color: #0000CD;
    color: white;
    text-align: center;
}
.navbar-brand
{
    font-size:10px;

}
.navbar-nav li a {
    line-height: 20px;
    height: 50px;
    padding-left: 10px;
    font-size:18px;
}	


